// Navigation code here for header & navigation/ button

header {
    //border: solid;
    height: 60vh;
    background-position: center;
    //background-size: 60%;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    color: #6C5659;
  }
  header div nav {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin-left: 30%;
    @media (max-width: 600px){
        flex-direction: column;
    }
  }
  header a {
    font-size: 1.8rem;
    color: #6C5659;
  }
  .heading-box {
    margin-left: 5%;
    text-align: right;
    padding: 0 5%;
  }
  .heading-image1 {
    display: flex;
    justify-content: center;
    width: 600px;
    height: 150px;
    background-image: url('../img/main-header.png');
    background-size: cover;
  }
  h1 {
    display: flex;
    font-size: 5rem;
    margin-left: 5%;
  }
  .button  {
    display: flex;
    background-color: @btn-bg-color;
    color: @porcelain;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    margin: 10px;
  }


  /* end of  Navigation code here for header & navigation/ button */